body{
    font-family: 'Roboto Condensed', sans-serif;
  /*  font-family: fonto;*/
}

#background 
{    
width: 100%;
height: 100%;
position: fixed;      
}


.paginacentro
{
    height: 900px;
   opacity: 0.999;
   background-color: rgba(170, 0, 28, 0.699);
    margin: auto;
    border: 1px solid white;
    width: 94%;
   margin-top: 0.3%;
   border-radius:15px 15px 0px 0px;
}

.pie
{
    width: 94%;
    border-radius: 0px 0px 15px 15px;
border: 1px solid white;
float: left;
height: 10%;
margin-top: 43.5%;
background-color: rgba(170, 0, 28, 0.507);
position: absolute;
}

/* Indefinido divs para la pie*/
.pie3, .pie2
{
    width: 100%;
    height: 50%;
   /* border: 1px solid white;*/

}
.pie21, .pie22, .pie23, .pie24, .pie25
{
    width: 20%;
    height: 100%;
    /*border: 1px solid white;*/
    float: left;
}
.redes
{
    width: 12%;
    height: 100%;
    margin-left: 40%;
}
.redes3
{
    width: 35%;
    height: 100%;
    margin-left: 35%;
}
.redes2
{
    width: 20%;
    height: 100%;
    margin-left: 40%;
}

.textopie
{
font-size: 20px;
text-align: center;
margin-top: 2%;
}
/* Indefinido divs para pie*/
.cabecera
{
/*border: 1px solid white;*/
        width: 100%;
        height: 10%;
    
}
.imagen1,.imagen2,.imagen3,.imagen4,.imagen5,.imagen6
{
    float: left;
    width: 50%;
    height: 405.33px;
    border: 1px solid white;
    
}
.trailergears
{
    width: 95%;
    border-radius: 15px;
    height: 95%;
    margin: auto;
    background-color: black;
    margin-top: 1.5%;
    border: 1px solid white;
}
.info
{
    text-align: justify;
    font-size: 17px;
    font-weight: lighter;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 0%;
}
.trailergears2
{
    width: 35%;
    border: 1px solid white;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}
#verya
{
    margin-right: 25%;
    width: 25%;
    padding: 0%;
    margin-top: -25%;
    margin-left: 41%;
    position: relative;
    /* padding-right: 16%; */
}
.textoanun
{position: absolute;
padding-left: 19%;
padding-top:1%;
color: white;
/* border: 1px solid white;*/
}

.unico
{position: absolute;
padding-left: 17%;
padding-top:7%;
width: 41%;
text-align: justify;
list-style:none;
color: white;
}

.SUPER
{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 0.8%; 
}