body{
    font-family: 'Roboto Condensed', sans-serif;
  /*  font-family: fonto;*/
}
#background 
{    
width: 100%;
height: 100%;
position: fixed;      
}
.paginacentro
{
    height: 900px;
   opacity: 0.999;
   background-color: rgba(0, 3, 170, 0.699);
    margin: auto;
  border: 1px solid white;
    width: 94%;
   margin-top: 0.3%;
   border-radius:15px 15px 0px 0px;
}
.pie
{
    width: 94%;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid white;
    height: 10%;
    margin-top: 4.5%;
    background-color: rgba(0, 3, 170, 0.699);
    position: absolute;
    margin-left: -4.9%;
}
}
/* Indefinido divs para la pie*/
.pie3, .pie2
{
    width: 100%;
    height: 50%;
   /* border: 1px solid white;*/
}
.pie21, .pie22, .pie23, .pie24, .pie25
{
    width: 20%;
    height: 100%;
    /*border: 1px solid white;*/
    float: left;
}
.redes
{
    width: 12%;
    height: 100%;
    margin-left: 40%;
}
.redes3
{
    width: 35%;
    height: 100%;
    margin-left: 35%;
}
.redes2
{
    width: 20%;
    height: 100%;
    margin-left: 40%;
}

.textopie
{
font-size: 20px;
text-align: center;
margin-top: 1%;
}
/* Indefinido divs para pie*/
.cabecera
{width: 100%;
height: 10%;
border-bottom: 1px solid white;
}
.titulo
{
margin-left: 44.6%;
margin-top: 1%;
color: white;
}
.centro
{
    width: 90%;
    margin: auto;
height: 85%;
}
.cajaderecha
{width: 25%;
height: 90%;
border: 1px solid white;
margin-top: 2%;
margin-left: 4.7%;
border-radius: 15px 0px 0px 15px; 
display: inline-block;
}

.gears1
{
    width: 100%;
    border-radius: 15px 0px 0px 0px;
    border-bottom: 1px solid white;
}

.cajaizquierda
{
    width: 65%;
height: 60%;
border: 1px solid white;
float: right;
margin-top: 2%;
margin-right: 5%;
border-radius: 0px 15px 0px 0px;
background-color: rgba(0, 3, 170, 0.699);
}
.cajapie
{
    width: 65%;
    height: 29.4%;
    border: 1px solid white;
    float: right;
    margin-right: 5%;
    border-radius: 0px 0px 15px 0px;
    margin-top: -14%;
    background-color: rgba(0, 3, 170, 0.699);
}

.carousel-inner
{
    width: 75%;
    margin: auto;
    border-radius: 15px;
    border: 1px solid white;
    margin-top: 0.7%;
}
.carousel-control-prev
{
    width: 35%;
}
.carousel-control-next
{
    width: 35%;

}
.cajaderecha2
{
    width: 100%;
    height: 69.2%;
    background-color: rgba(60, 0, 255, 0.835);
    color: white;
    border-radius: 0px 0px 0px 15px;
} 
.gowti
{text-align: center;
    padding-top: 7px;}
.gow2
{
    text-align: justify;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 7%;
}
.gow3
{text-align: justify;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 2%;}
.gears2
{
    width: 59.3%;
    border-right: 1px solid white;
     float:left;
}
.gears3
{
    width: 40.69%;
    float:left;
    text-align: center;
     color: white;
}
#boto
{
    margin-top: 8.1%;
    width: 100%;
     border-radius: 0px 0px 15px 0px;
}
.texode
{
    font-size: 40px;
    padding-top: 20%;
}
.cajapie3
{
    border-right: none !important;
}
.cajapie2
{
    width: 100%;
    height: 100%;
    
    float: left;
}
.foto2
{
    width: 88.8%;
float: right;
border-left: 1px solid white;
border-radius: 0px 0px 15px 0px;
}
.foto
{
width: 100%;
    border-radius: 15px 0px 0px 0px;
    border-bottom: 1px solid white;

}
.foto3
{
    width: 84.4%;
float: left;
border-right: 1px solid white;
}
.comprar2
{
     width: 15.9%;
     height: 100%;
}

#atras
{
    height: 100%;
    width: 70.4%;
    border-radius: 0px;
   word-wrap: break-word;
  text-align:center;
}

#atras2
{
    height: 100%;
    width: 100%;
    border-radius: 0px;
   word-wrap: break-word;
  text-align:center;
  border-radius: 0px 0px 15px 0px;
}
.vertical
{
       word-wrap: break-word;
    transform: rotate(180deg);
        writing-mode: vertical-lr;
        font-size: 23px;
        padding-right: 20%;
}
.vertical2
{
       word-wrap: break-word;
    transform: rotate(180deg);
        writing-mode: vertical-lr;
        font-size: 23px;
}
.comprar{
    width: 15.5%;
    height: 100%;
    
    float: right;
}
.div1,.div2,.div3,.div4,.div5,.div6
{
    float: left;
    width:  24.8%;
    height: 48%;
    border:1px solid white; 
    margin-top: 0.59%;
    margin-right: 0.5%;
    
}

.div1,.div4{
    margin-left: 12%;
    margin-right: 0.5%;
    border-radius: 15px 0px 0px 15px; 
}
.div1{
    border-radius: 15px 0px 0px 0px !important;
}
.div4
{
    border-radius: 0px 0px 0px 15px !important;  
}
.div3,.div6{
    border-radius: 0px 15px 15px 0px; 
}
.div3{
    border-radius: 0px 15px 0px 0px; 
}
.dv1{
    border-radius: 15px 0px 0px 15px; 
}
.dv2{
    border-radius: 0px 15px 0px 0px; 
}
.dv11
{
    border-radius: 0px 0px 0px 15px; 
}
.dv22{
    border-radius: 0px 0px 15px 0px; 
}
.div6{
    border-radius: 0px 0px 15px 0px !important; 
}
.dv,.dv1,.dv2,.dv11,.dv22
{
    width: 100% !important;
}
.dv1
{
    border-radius: 15px 0px 0px 0px !important;
}